%link{href: "https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css", rel: "stylesheet", integrity: "sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm", crossorigin: "anonymous"}
.container-fluid
  %div.health_card{:style => "page-break-after: avoid;"}
    .row
      .col-xs-8{:style => "padding-top:6px; text-align: center"}
        %h6.color-black.nopadding{:style => "line-height: 13px;"}
          -#%strong{:style => "display:block; text-transform: uppercase; font-size: 10px; line-height: 16px;text-align:center"} #{@patient.first_name} #{@patient.last_name}
          - $age_type = 'y'
          -if @patient.age.split(" ")[1] == "Month"
            - $age_type = "m"
          -elsif @patient.age.split(" ")[1] == 'Hour'
            - $age_type = "h"
          %span{:style => "line-height: 16px;font-weight:500; display:inline-block;font-size:15px;"}  #{@patient.first_name} #{@patient.last_name} / #{@patient.age.split(" ")[0]}  #{$age_type}
          %span{:style => "line-height: 16px;font-weight:500; display:inline-block;font-size:15px;"} #{@patient.mrn}
          =image_tag(@order.barcode_url ,:class => "barcode_img", :style => " height:30px; width:170px;")
          %span{:style => "line-height: 16px;font-weight:500; display:inline-block;font-size:15px;"} #{@order.lab_order_sequence_number[7..12] }


