!!!
%link{href: "https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css", rel: "stylesheet"}
:css
  @font-face {
      font-family: Liberation;
      src: url(LiberationSerif-Regular.ttf);
  }
  @font-face {
      font-family: Liberation-bold;
      src: url(LiberationSerif-bold.ttf);
  }
  @page { size: auto;  margin: 7mm; }



  input[type="checkbox"]{
    width:25px;
    height:25px;
  }
  .qrcode_img_up{
    margin-left: -25px;
    margin-top: -35px;
    width: 100%;
    heigt: 100%;
    float:right;
  }
  .qrcode_img_down{
    margin-left: -25px;
    width: 110%;
    float:right;  
  }
  .lab_log {
    width: 100px;
    height: 100px;
  }
  .barcode_img{
    width: 150px;
    height: 40px;
    margin-left: -25px;
    margin-top: -5px
  }
  .qrcode_img{
    margin-left: -25px;
    margin-top: -10px;
    width: 60%;
  }
  .instruction_img{
    width:400px;
  }
  .margin-left-40 {
    margin-left: -40px !important;
  }
  .margin-left-right-30 {
    margin-left: 30px;
    margin-right: 30px;
  }
  .height-70 {
    height: 70px;
  }
  .margin-top-15 {
    margin-top: 15px;
  }
  .line-height-30 {
    line-height: 30px;
  }
  .margin-top-30 {
    margin-top: 30px;
  }
  .underline {
    text-decoration: underline;
  }
  .color-light-black {
    color: #3f3f3f;
  }
  .font-size-18 {
    font-size: 17px;
  }
  .font-size-12 {
    font-size: 12px !important;
  }
  .padding-top-bottom-5 {
    padding-bottom: 5px;
    padding-top: 5px;
  }
  .padding-bottom-10 {
    padding-bottom: 10px;
  }
  .color-black {
    color: black;
  }
  .margin-left-18 {
    margin-left: 18px;
  }
  .margin-left-31 {
    margin-left: -31px !important;
  }

  .grey_backgroud {
      background:#A9A9A9;
  }

  .border_line {
      border: 1px solid #dddddd;
  }
  .nopadding {
     margin-top: -10px !important;
  }
  .margin-top-minus-4 {
     margin-top: -4px !important;
  }
  .main-head{
    font-size:16px;
  }
  .name-block{
    margin:0px 20px;
  }
  .bottom_barcode_pos span,h3{
    text-align:right;
    margin-left:15px;
  }
  .bottom_barcode_pos{
    margin-top:-50px;
  }
  .bottom-name-block{
    padding-left:30px;
  }
  .barcode_pos{
    margin-top:-50px;
  }

  .margin-top-0 {
     margin-top: -0px !important;
     margin-left: -12px !important;
  }
  .margin-top-4 {
     margin-top: 4px !important;
  }
  .padding-left-40 {
    padding-left: 200px !important;
  }
  .margin-left-33 {
    margin-left: 33% !important;
  }
  .margin-left-1 {
    margin-left: 100px !important;
  } 
  .margin-left-56 {
    margin-left: -25px !important;
  }

%div
  .row
    .col-xs-2
      = wicked_pdf_image_tag('logo_punjab_gov.png', {:style => "width: 100%;"})
    .col-xs-7{:style => "line-height: 30px;text-align: center;"}
      %h3{:style => "color: black;text-align: center; font-weight:bold;"}
        %strong{:style => "font-size:21px"}  #{@lab_order_details.first.order.patient.visits.last.medical_unit.id == 65 ? 'The Children Hospital, Lahore' : @lab_order_details.first.order.patient.visits.last.medical_unit.title}
      %p.nopadding.main-head{:style => "font-size:16px"} Specialized Healthcare & Medical Education Department
      %h4.color-black.text-center{:style => "text-transform: uppercase;margin-top:-8px"}
        %div{:style => "font-size:16px"}
          %strong Lab Report
          -if @duplicate
            %span (Duplicate Slip)
    .col-xs-3.color-black{:style => "top:12px"}
      .col-xs-12
      -if !@lab_order_details.first.order.patient.qrcode_url.nil?
        = wicked_pdf_image_tag(@lab_order_details.first.order.patient.qrcode_url, class: "qrcode_img_up")
  %br/
  .row.color-black
    %div.margin-top-minus{:style => "margin-top:-15px!important"}
      .col-xs-10.name-block
        %h3.color-black.nopadding{:style => "text-transform: capitalize;text-align:left;margin-left:-5px;"}
          %strong #{@lab_order_details.first.order.patient.full_name}, 
          %span{:style => "font-weight:500;text-transform: lowercase;"} 
            #{@lab_order_details.first.order.patient.age},
          %span{:style => "font-weight:500;text-transform: uppercase;"}
            #{@lab_order_details.first.order.patient.gender_first_letter}
      .col-xs-5{:style => "font-size:12px!important;margin-top:10px!important"}
        .col-xs-5.nopadding
          %strong Father/Husband:
        .col-xs-7.nopadding{:style => "text-transform: capitalize;"}
          %p #{@lab_order_details.first.order.patient.father_name.present? ? @lab_order_details.first.order.patient.father_name : 'N/A'}
        .col-xs-5.nopadding
          %strong Patient's NIC:
        .col-xs-7.nopadding{:style => "text-transform: capitalize;"}
          %p #{@lab_order_details.first.order.patient.patient_nic.present? ? @lab_order_details.first.order.patient.patient_nic : 'N/A'}
        .col-xs-5.nopadding
          %strong Guardian:
        .col-xs-7.nopadding{:style => "text-transform: capitalize;"}
          %p #{@lab_order_details.first.order.patient.guardian_first_name.present? ? @lab_order_details.first.order.patient.guardian_first_name : 'N/A'}, #{@lab_order_details.first.order.patient.guardian_relationship.present? ? @lab_order_details.first.order.patient.guardian_relationship : 'N/A'}
        - if @lab_order_details.first.order.patient.visits.last.current_ref_department
          .col-xs-5.nopadding
            %strong Ward:
          .col-xs-7.nopadding
            %p #{@lab_order_details.first.order.patient.visits.last.current_ref_department}
        .col-xs-5.nopadding
          %strong Order Date:
        .col-xs-7.nopadding
          %p #{(@lab_order_details.first.order.created_at).strftime("%d-%m-%Y %H:%M")}
      .col-xs-5{:style => "font-size:12px!important;margin-top:10px!important"}
        .col-xs-3.nopadding
          %strong Contact:
        .col-xs-9.nopadding
          %p #{@lab_order_details.first.order.patient.phone1.present? ? @lab_order_details.first.order.patient.patient_phone1_format : 'N/A'}
        .col-xs-12.nopadding
          %p #{@lab_order_details.first.order.patient.address1.present? ? @lab_order_details.first.order.patient.address1 : 'N/A'}
        .col-xs-3.nopadding
          %strong City:
        .col-xs-9.nopadding
          %p #{@lab_order_details.first.order.patient.near_by_city.present? ? @lab_order_details.first.order.patient.near_by_city : 'N/A'}
        .col-xs-3.nopadding
          %strong Result Date:
        .col-xs-9.nopadding
          %p #{(Time.now + 5.hours).strftime("%d-%m-%Y %H:%M")}
    .col-xs-2.barcode_pos
      %p.margin-left-56.line-height-30{:style => "font-size: 12px;"}   
        %span{:style => "margin-left:-16px!important"}#{@lab_order_details.first.order.patient.visits.last.created_at.strftime('%d %b %Y %H:%M:%S')}
        -if !@lab_order_details.first.order.patient.barcode_url.nil?
          =wicked_pdf_image_tag(@lab_order_details.first.order.patient.barcode_url ,:class => "barcode_img")
        %span{:style => "margin-left:-16px!important;font-size:16px; font-weight:bold;"}  #{@lab_order_details.first.order.patient.patient_mrn_format} 
  %h4.color-black.text-center{:style => "border-top: 2px solid;"}
  -if @duplicate
    %div
    %hr{:style => "height:1px;border:none;color:#333;background-color:#333;"}
      %span (Duplicate Slip)
/ %div{:style => "float:right"}
/   #{@count}
/   - @count = @count + 1
