@import "bootstrap-sprockets";
@import "bootstrap";
@font-face {
    font-family: Liberation;
    src: url(LiberationSerif-Regular.ttf);
}
@font-face {
    font-family: Liberation-bold;
    src: url(LiberationSerif-bold.ttf);
}

@page { size: 86mm 54mm;  margin: 5mm; }
.pat_name{
	text-transform: uppercase;
}
.margin-top-minus{
	margin-top:-10px !important;
	font-size: 18px;
}
body{
	font-size: 200%;
}
.health_card_right span{
	
}
.patient_info{
	margin-left: 10px;

}
.qr_img{
	width: 60%;
	z-indez: 999;
	margin-left: 150px !important;
	margin-bottom: -40px;
	
}
.barcode_img{
	width: 60%;
	height:50px;
	margin-left:120px;
}
.instruction_img{
	width: 100%;
}
