%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    :javascript
      window.onload = function() {
        window.close();
        var printContents = document.getElementById('printableArea1').innerHTML;
        var popupWin = window.open('', '_blank');
        popupWin.document.open();
        popupWin.document.write('<html><head><link rel="stylesheet" type="text/css" href="/assets/print.css" /></head><body onload="window.print()">' + printContents + '</body></html>');
        popupWin.document.close();
      }
  %body
    #printableArea1.hidden-md.hidden-xs.hidden-sm.hidden-lg
      - if @patient.visits.last.current_referred_to == 'Outpatient'
        .container
          %div{:style => "page-break-after: always;"}
            .row
              .col-xs-2
                = image_tag('logo_punjab_gov.png')
              .col-xs-7.margin-top-minus-10{:style => "line-height: 30px;text-align: center;"}
                %h3{:style => "color: black;text-align: center; font-weight:bold;"}
                  %strong #{@patient.visits.last.medical_unit.title} 
                %p.nopadding.main-head Specialized Healthcare & Medical Education Department
                %h4.color-black.text-center{:style => "text-transform: uppercase;"}
                  %div
                    %strong #{@patient.visits.last.current_referred_to} Slip
                    -if @duplicate
                      %span (Duplicate Slip)
              .col-xs-3.color-black
                .col-xs-12
                - if !@patient.qrcode_url.nil?
                  = image_tag(@patient.qrcode_url, class: "qrcode_img_up")
            %br/
            - if @patient.qrcode_url.nil?
              %br/ 
              %br/ 
              %br/
              %br/ 
            .row.color-black
              %div.margin-top-minus
                .col-xs-10.name-block
                  %h3.color-black.nopadding{:style => "text-transform: uppercase;text-align:left;margin-left:-5px;"}
                    %strong #{@patient.full_name}, 
                    %span{:style => "font-weight:500"} 
                      #{@patient.age}(s),
                      #{@patient.gender_first_letter}
                .col-xs-5{:style => "line-height:25px"}
                  .col-xs-4.nopadding
                    %strong Father Name:
                  .col-xs-8.nopadding{:style => "text-transform: capitalize;"}
                    %p #{@patient.father_name.present? ? @patient.father_name : 'N/A'}
                  .col-xs-4.nopadding
                    %strong Father's NIC:
                  .col-xs-8.nopadding{:style => "text-transform: capitalize;"}
                    %p #{@patient.guardian_nic.present? ? @patient.guardian_nic_format : 'N/A'}
                  - if @patient.visits.last.current_ref_department
                    .col-xs-4.nopadding
                      %strong Ward:
                    .col-xs-8.nopadding
                      %p #{@patient.visits.last.current_ref_department}
                .col-xs-5{:style => "line-height:25px"}
                  .col-xs-3.nopadding
                    %strong Contact:
                  .col-xs-9.nopadding
                    %p #{@patient.phone1.present? ? @patient.patient_phone1_format : 'N/A'}
                  .col-xs-3.nopadding
                    %strong Address:
                  .col-xs-9.nopadding
                    %p #{@patient.address1.present? ? @patient.address1 : 'N/A'}
                  .col-xs-3.nopadding
                    %strong City:
                  .col-xs-9.nopadding
                    %p #{@patient.near_by_city.present? ? @patient.near_by_city : 'N/A'}
              .col-xs-2.barcode_pos
                %p.margin-left-56.line-height-30{:style => "font-size: 18px;"}   
                  %span #{@patient.visits.last.created_at.strftime('%d %b %Y %H:%M:%S')}
                  %span{:style => "line-height:18px; font-size:24px; font-weight:bold;"}  #{@patient.patient_mrn_format}
            %h4.color-black.text-center{:style => "border-top: 2px solid;"}
              %div
              %hr{:style => "height:1px;border:none;color:#333;background-color:#333;"}
                %strong #{@patient.visits.last.current_referred_to} Slip
                -if @duplicate
                  %span (Duplicate Slip)

          / %div{:style => "page-break-after: always;"}
          /   .row
          /     .col-xs-2
          /       = image_tag('logo_punjab_gov.png')
          /     .col-xs-7.margin-top-minus-10{:style => "line-height: 30px;text-align: center;"}
          /       %h3{:style => "color: black;text-align: center; font-weight:bold;"}
          /         %strong #{@patient.visits.last.medical_unit.title} 
          /       %p.nopadding.main-head Specialized Healthcare & Medical Education Department
          /       %h4.color-black.text-center{:style => "text-transform: uppercase;"}
          /         %div
          /           %strong #{@patient.visits.last.current_referred_to} Slip
          /           -if @duplicate
          /             %span (Duplicate Slip)
          /     .col-xs-3.color-black
          /       .col-xs-12
          /       = image_tag(@patient.qrcode_url, class: "qrcode_img_up")
          /   %br/
          /   .row.color-black
          /     %div.margin-top-minus
          /       .col-xs-10.name-block
          /         %h3.color-black.nopadding{:style => "text-transform: uppercase;text-align:left;margin-left:-5px;"}
          /           %strong #{@patient.full_name}, 
          /           %span{:style => "font-weight:500"} 
          /             #{@patient.age}(s),
          /             #{@patient.gender_first_letter}
          /       .col-xs-5{:style => "line-height:25px"}
          /         .col-xs-4.nopadding
          /           %strong Father Name:
          /         .col-xs-8.nopadding{:style => "text-transform: capitalize;"}
          /           %p #{@patient.father_name.present? ? @patient.father_name : 'N/A'}
          /         .col-xs-4.nopadding
          /           %strong Father's NIC:
          /         .col-xs-8.nopadding{:style => "text-transform: capitalize;"}
          /           %p #{@patient.guardian_nic.present? ? @patient.guardian_nic_format : 'N/A'}
          /         - if @patient.visits.last.current_ref_department
          /           .col-xs-4.nopadding
          /             %strong Ward:
          /           .col-xs-8.nopadding
          /             %p #{@patient.visits.last.current_ref_department}
          /       .col-xs-5{:style => "line-height:25px"}
          /         .col-xs-3.nopadding
          /           %strong Contact:
          /         .col-xs-9.nopadding
          /           %p #{@patient.phone1.present? ? @patient.patient_phone1_format : 'N/A'}
          /         .col-xs-3.nopadding
          /           %strong Address:
          /         .col-xs-9.nopadding
          /           %p #{@patient.address1.present? ? @patient.address1 : 'N/A'}
          /         .col-xs-3.nopadding
          /           %strong City:
          /         .col-xs-9.nopadding
          /           %p #{@patient.near_by_city.present? ? @patient.near_by_city : 'N/A'}
          /     .col-xs-2.barcode_pos
          /       %p.margin-left-56.line-height-30{:style => "font-size: 18px;"}   
          /         %span #{@patient.visits.last.created_at.strftime('%d %b %Y %H:%M:%S')}
          /         =image_tag(@patient.barcode_url ,:class => "barcode_img")
          /         %span{:style => "line-height:18px; font-size:24px; font-weight:bold;"}  #{@patient.patient_mrn_format}
          /   %h4.color-black.text-center{:style => "border-top: 2px solid;"}
          /   .row.color-black.pull-right
          /     = image_tag("childern_hospital_note.png", class: "instruction_img")
      - else
        .container
          %div{:style => "page-break-after: always;"}
            .row
              .col-xs-2
                = image_tag('logo_punjab_gov.png')
              .col-xs-7.margin-top-minus-10{:style => "line-height: 30px;text-align: center;"}
                %h3{:style => "color: black;text-align: center; font-weight:bold;"}
                  %strong #{@patient.visits.last.medical_unit.title} 
                %p.nopadding.main-head Specialized Healthcare & Medical Education Department
                %h4.color-black.text-center{:style => "text-transform: uppercase;"}
                  %div
                    %strong #{@patient.visits.last.current_referred_to} Slip
                    -if @duplicate
                      %span (Duplicate Slip)
              .col-xs-3.color-black
                .col-xs-12
                - if !@patient.qrcode_url.nil?
                  = image_tag(@patient.qrcode_url, class: "qrcode_img_up")
            %br/
            - if @patient.qrcode_url.nil?
              %br/ 
              %br/ 
              %br/
              %br/
            .row.color-black
              %div.margin-top-minus
                .col-xs-10.name-block
                  %h3.color-black.nopadding{:style => "text-transform: uppercase;text-align:left;margin-left:-5px;"}
                    %strong #{@patient.full_name}, 
                    %span{:style => "font-weight:500"} 
                      #{@patient.age}(s),
                      #{@patient.gender_first_letter}
                .col-xs-5{:style => "line-height:25px"}
                  .col-xs-4.nopadding
                    %strong Father Name:
                  .col-xs-8.nopadding{:style => "text-transform: capitalize;"}
                    %p #{@patient.father_name.present? ? @patient.father_name : 'N/A'}
                  .col-xs-4.nopadding
                    %strong Father's NIC:
                  .col-xs-8.nopadding{:style => "text-transform: capitalize;"}
                    %p #{@patient.guardian_nic.present? ? @patient.guardian_nic_format : 'N/A'}
                  .col-xs-4.nopadding
                    %strong Guardian:
                  .col-xs-8.nopadding{:style => "text-transform: capitalize;"}
                    %p #{@patient.guardian_first_name.present? ? @patient.guardian_first_name : 'N/A'}
                  .col-xs-7.nopadding
                    %strong Registration Date:
                  .col-xs-5.nopadding{:style => "left:-25px"}
                    %p #{@patient.created_at.strftime('%d %b %Y')}
                  .col-xs-7.nopadding
                    %strong Visit Date:
                  .col-xs-5.nopadding{:style => "left:-25px"}
                    %p #{@patient.visits.last.created_at.strftime('%d %b %Y')}
                  - if @patient.visits.last.current_ref_department
                    .col-xs-4.nopadding
                      %strong Ward:
                    .col-xs-8.nopadding
                      %p #{@patient.visits.last.current_ref_department}
                .col-xs-5{:style => "line-height:25px"}
                  .col-xs-3.nopadding
                    %strong Contact:
                  .col-xs-9.nopadding
                    %p #{@patient.phone1.present? ? @patient.patient_phone1_format : 'N/A'}
                  .col-xs-3.nopadding
                    %strong Address:
                  .col-xs-9.nopadding
                    %p #{@patient.address1.present? ? @patient.address1 : 'N/A'}
                  .col-xs-3.nopadding
                    %strong City:
                  .col-xs-9.nopadding
                    %p #{@patient.near_by_city.present? ? @patient.near_by_city : 'N/A'}
              .col-xs-2.barcode_pos
                %p.margin-left-56.line-height-30{:style => "font-size: 18px;"}   
                  %span #{@patient.visits.last.created_at.strftime('%d %b %Y %H:%M:%S')}
                  %span{:style => "line-height:18px; font-size:24px; font-weight:bold;"}  #{@patient.patient_mrn_format} 
            
            .row.color-black
              .col-xs-6
                .col-xs-12{:style => "margin:-8px 0;"}
                  %p.bg-grey-color Presenting Complaint
                  %p{:style => "height:180px"}
                .col-xs-12
                  %p.bg-grey-color Examination
                  %p{:style => "height:180px"}
                .col-xs-12
                  %p.bg-grey-color Provisional Diagnosis
                  %p{:style => "height:180px"}
              .col-xs-6
                .col-xs-12{:style => "margin:-8px 0;"}
                  %p.bg-grey-color History
                  %p{:style => "height:180px"}
                .col-xs-12
                  %p.bg-grey-color Treatment
                  %p{:style => "height:180px"}
                .col-xs-12
                  %p.bg-grey-color Investigations
                  %p{:style => "height:180px"}
            .row.color-black{:style => "z-index:  999; position:  relative;"}
              .col-xs-3
                .div.col-xs-6
                  %input#cb{:style => "float: left; margin: 5px", :type => "checkbox"}/
                  %p.line-height-30 Admit
                .div.col-xs-6
                  %input#cb{:style => "float: left; margin: 5px", :type => "checkbox"}/
                  %p.line-height-30 Discharge
              .col-xs-9
                .div.col-xs-offset-3.col-xs-4
                  %p.color-black.text-left{:style => "border-top: 1px solid;"}
                  %p.text-left Name of Doctor with Designation
                .div.col-xs-offset-1.col-xs-4
                  %p.color-black.text-left{:style => "border-top: 1px solid;"}
                  %p.text-left Signature
            %h4.color-black.text-center{:style => "border-top: 2px dotted; margin: 20px 0; position: relative; z-index:999;"}
            %br/
            .container
            .row
              .col-xs-2
                = image_tag('logo_punjab_gov.png', {:style => "width: 100%;"})
              .col-xs-7.margin-top-minus-10{:style => "line-height: 30px;text-align: center;"}
                %h3{:style => "color: black;text-align: center; font-weight:bold;"}
                  %strong #{@patient.visits.last.medical_unit.title} 
                %p.nopadding.main-head Specialized Healthcare & Medical Education Department
                %h4.color-black.text-center{:style => "text-transform: uppercase;"}
                  %div
                    %strong Discharge Slip
                    -if @duplicate
                      %span (Duplicate Slip)
              .col-xs-3.color-black
                .col-xs-12.pull-right
                - if !@patient.qrcode_url.nil?
                  = image_tag(@patient.qrcode_url, class: "qrcode_img")
                / .col-xs-5
                /   %strong.pull-right MRN:
                / .col-xs-7
                /   = image_tag(@patient.barcode_url ,:class => "barcode_img")
                / .col-xs-offset-6.col-xs-6.pull-right
                /   %h4.text-left.margin-left-56 #{@patient.patient_mrn_format}
            
            %br/
            - if @patient.qrcode_url.nil?
              %br/ 
              %br/ 
              %br/
              %br/
            .row.color-black
              .col-xs-8.bottom-name-block.margin-top-minus
                %h3.color-black.nopadding{:style => "text-transform: uppercase;text-align:left;margin-left:-5px;"}
                  %strong #{@patient.full_name}, 
                  %span{:style => "font-weight:500"} 
                    #{@patient.age}(s),
                    #{@patient.gender_first_letter}
              .col-xs-offset-2.col-xs-2.bottom_barcode_pos.pull-right
                %p.margin-left-56.line-height-30{:style => "font-size: 18px;"}   
                  %span #{@patient.visits.last.created_at.strftime('%d %b %Y %H:%M:%S')}
                  %span{:style => "line-height:18px; font-size:24px;font-weight:bold;"}  #{@patient.patient_mrn_format} 
            %br/
            %br/
            .row.color-black
              .col-xs-offset-8.col-xs-4
                %p.color-black.text-center{:style => "border-top: 1px solid;margin-top:50px;"}
                %p.text-right Signature & Name of doctor with designation
        .row.custom-row-margin.text-left
          .col-xs-6{style: "border-right: 3px dotted black; border-bottom: 3px dotted black; height: 750px; position: relative; z-index:999;"}
            .col-xs-7
              .row
                %h3.text-left.margin-none Prescription Slip
                %h2.color-black.nopadding{:style => "text-transform: uppercase;"}
                  %p #{@patient.full_name}
              .row
                %h3.color-black.nopadding.text-left{:style => "text-transform: uppercase; margin:0px;"}
                  %p #{@patient.patient_mrn_format}
              .row.margin-top-minus-10
                %strong #{@patient.age}(s), #{@patient.gender.slice(0,1).capitalize}
              .row
                %p #{@patient.visits.last.created_at.strftime("%d-%m-%Y %H:%M:%S")}
            - if !@patient.qrcode_url.nil?
              .col-xs-5
                = image_tag(@patient.qrcode_url, class: "qrcode_img_down pull-right")
            - if !@patient.barcode_url.nil?
              .bottom-right{:style => "position: absolute; bottom: 10px; width: 50%; margin-left:40%;"}
                =image_tag(@patient.barcode_url ,:class => "barcode_img pull-right")
          .col-xs-6{style: "border-bottom: 3px dotted black; height: 750px;position: relative; z-index:999;"}
            .col-xs-7
              .row
                %h3.text-left.margin-none Prescription Slip
                %h2.color-black.nopadding{:style => "text-transform: uppercase;"}
                  %p #{@patient.full_name}
              .row
                %h3.color-black.nopadding.text-left{:style => "text-transform: uppercase; margin:0px;"}
                  %p #{@patient.patient_mrn_format}
              .row.margin-top-minus-10
                %strong #{@patient.age}(s), #{@patient.gender.slice(0,1).capitalize}
              .row
                %p #{@patient.visits.last.created_at.strftime("%d-%m-%Y %H:%M:%S")}
            - if !@patient.qrcode_url.nil?
              .col-xs-5
                = image_tag(@patient.qrcode_url, class: "qrcode_img_down pull-right")
            - if !@patient.barcode_url.nil?
              .bottom-right{:style => "position: absolute; bottom: 10px; width: 50%; margin-left:40%;"}
                =image_tag(@patient.barcode_url ,:class => "barcode_img pull-right")
        .row.text-left
          .col-xs-6{style: "border-right: 3px dotted black; height: 750px;position: relative; z-index:999;"}
            .col-xs-7
              .row
                %h3.text-left.margin-none Prescription Slip
                %h2.color-black.nopadding{:style => "text-transform: uppercase;"}
                  %p #{@patient.full_name}
              .row
                %h3.color-black.nopadding.text-left{:style => "text-transform: uppercase; margin:0px;"}
                  %p #{@patient.patient_mrn_format}
              .row.margin-top-minus-10
                %strong #{@patient.age}(s), #{@patient.gender.slice(0,1).capitalize}
              .row
                %p #{@patient.visits.last.created_at.strftime("%d-%m-%Y %H:%M:%S")}
            - if !@patient.qrcode_url.nil?
              .col-xs-5
                = image_tag(@patient.qrcode_url, class: "qrcode_img_down pull-right")
            - if !@patient.barcode_url.nil?
              .bottom-right{:style => "position: absolute; bottom: 10px; width: 50%; margin-left:40%;"}
                =image_tag(@patient.barcode_url ,:class => "barcode_img pull-right")
          .col-xs-6{style: "height: 750px;"}
            .col-xs-7
              .row
                %h3.text-left.margin-none Prescription Slip
                %h2.color-black.nopadding{:style => "text-transform: uppercase;"}
                  %p #{@patient.full_name}
              .row
                %h3.color-black.nopadding.text-left{:style => "text-transform: uppercase; margin:0px;"}
                  %p #{@patient.patient_mrn_format}
              .row.margin-top-minus-10
                %strong #{@patient.age}(s), #{@patient.gender.slice(0,1).capitalize}
              .row
                %p #{@patient.visits.last.created_at.strftime("%d-%m-%Y %H:%M:%S")}
            - if !@patient.qrcode_url.nil?
              .col-xs-5
                = image_tag(@patient.qrcode_url, class: "qrcode_img_down pull-right")
            - if !@patient.barcode_url.nil?
              .bottom-right{:style => "position: absolute; bottom: 10px; width: 50%; margin-left:40%;"}
                =image_tag(@patient.barcode_url ,:class => "barcode_img pull-right")
  }
  }
