%link{href: "https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css", rel: "stylesheet", integrity: "sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm", crossorigin: "anonymous"}
.container-fluid
  %div.health_card{:style => "page-break-after: avoid; page-break-before: avoid;"}
    .row
      .col-xs-6{:style => "width:55%;margin-top: 10px; margin-left: 20px; margin-top:20px;"}
        %h1.full-width.pat_name{:style => "font-size: 24px;text-transform: uppercase;"} <strong> #{@patient.full_name} </strong>
        .col-xs-12.margin-top-minus{:style => "margin-top: -5px !important; margin-bottom:-20px"}
          .col-xs-2.text-left{:style => "font-size: 24px; float:left;"}
            %strong{:style => "margin-right:10px;"} DOB:
          .col-xs-10{:style => "font-size: 24px; padding-left: 25px;"}
            %p.patient_info #{@patient_age.strftime('%d %b %Y')} 
        .col-xs-12.margin-top-minus{:style => "margin-left: 0px !important; float:left;margin-top: 3px;"}
          .col-xs-2.text-left{:style => "font-size: 24px; float:left; "}
            %strong{:style => "margin-right:5px;"} MRN:
          .col-xs-10{:style => "font-size: 24px;padding-left: 5px; float:left"}
            %p.patient_info #{@patient.patient_mrn_format} 
      .col-xs-5.health_card_right{:style => "width:45%;"}
        = image_tag(@patient.qrcode_url,:class => "qr_img",:style => "width:100%; float:left; margin-bottom:-40px;margin-top:-30px;")
        .clearfix
        %span.text-right{:style => "font-size:16px; width:100%; margin-left:90px;"} #{(@patient.visits.last.created_at + 5.hours).strftime('%d %b %Y')}
        =image_tag(@patient.barcode_url ,:class => "barcode_img", :style => "width:85%; height:40px; float:left; margin-top:-5px; margin-bottom:-5px;")
        / .clearfix
        / %span.text-right{:style => "font-weight:bold;font-size:20px;margin-left:12px;;width:100%;margin-top:-20px;"}  #{@patient.patient_mrn_format} 
    .clearfix
    %br
    .row.color-black.pull-right{:style => "width: 80%; margin-top:-10px;padding-bottom:-20px;"}
      = wicked_pdf_image_tag('health_card_note.png', {:style => "width: 500px;padding:0px 20px;"})
      / = image_tag("health_card_note.png", class: "instruction_img")
