%link{href: "https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css", rel: "stylesheet", integrity: "sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm", crossorigin: "anonymous"}
.container-fluid
  %div.health_card{:style => "page-break-after: avoid;"}
    .row
      .col-xs-6{:style => "width:700px; height:50px; margin-left: 20px; margin-top:5px;"}
        %h6.color-black.nopadding{:style => "text-align:left; float:left: line-height: 13px;"}
          %strong{:style => "display:block; text-transform: uppercase; font-size: 16px; line-height: 16px;"} #{@patient.full_name} 
          %span{:style => "line-height: 16px;font-weight:500; display:inline-block;font-size:15px;"} #{@patient.age},
          %span{:style => "line-height: 16px;font-weight:500; display:inline-block; text-transform: capitalize; font-size:15px;"} #{@patient.gender_first_letter}
          %span{:style => "line-height: 16px;font-weight:500; display:block; width: 150px; font-size:15px;"} #{@patient.patient_mrn_format} 
          / %div{:style => "float:right; width: 250px;"}
          =image_tag(@patient.barcode_url ,:class => "barcode_img", :style => " height:30px; width:170px;  float:left; margin-left: -15px;")  
              
    
